SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/jira?retryWrites=true&w=majority
MAIL_ENABLED=false
VERIFICATION_BASE_URL=http://localhost:3000/verify-email
ATTACHMENTS_DIR=uploads/attachments
GOOGLE_CLIENT_ID=
RECAPTCHA_ENABLED=false
RECAPTCHA_SECRET_KEY=
